.single_article {
    display: flex;
    align-items: center;
    gap: 36px;
}
.single_article {
    margin: 30px 0;
}
.single_article .ArticleCart {
    display: flex;
    gap: 30px;
}
.single_article .ArticleCart  > * {
    width: 50%;
}

.single_article img {
    width: 100%;
    border-radius: 4px;
}

.single_article .title {
    font-size: 36px;
    line-height: 1.3;
}