.ArticleCart {
    transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ArticleCart a {
    display: block;
}
.ArticleCart:not(.single):hover {
    transform: translateY(-4px);
}
.ArticleCart:not(.single):hover .image img {
    transform: scale(1.05);
}
.ArticleCart .image {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 12px;
}
.ArticleCart .image img {
    width: 100%;
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

.ArticleCart .title {
    font-size: 22px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 8px;
}
.ArticleCart .category_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}
.ArticleCart .desc {
    font-size: 14px;
    font-weight: 400;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: .7;
    margin-bottom: 12px;
}
.ArticleCart.single .desc {
    -webkit-line-clamp: 4
}
.ArticleCart .category_tags a {
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .2px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    line-height: 1;
}
.ArticleCart .category_tags a:hover {
    background-color: var(--border-color);
}
.ArticleCart .author {
    display: flex;
    align-items: center;
    gap: 12px;
}
.ArticleCart .author span {
    display: block;
    font-size: 13px;
    opacity: .7;
}
.ArticleCart .author .photo {
    width: 40px;
    flex-shrink: 0;
}
.ArticleCart .author .photo img {
    width: 100%;
    border-radius: 50%;
}
.ArticleCart .author .username {
    margin-bottom: 2px;
}