.ArticleCart {
    transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ArticleCart a {
    display: block;
}
.ArticleCart:hover {
    transform: translateY(-4px);
}
.ArticleCart:hover .image img {
    transform: scale(1.05);
}
.ArticleCart .image {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 12px;
}
.ArticleCart .image img {
    width: 100%;
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
}

.ArticleCart .title {
    font-size: 20px;
    font-weight: 700;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

