.wrapper {
    display: flex;
    flex-wrap: wrap;
}
img {
    max-width: 100%;
}
svg {
    display: block;
}
button {
    background-color: transparent;
    border: unset;
    cursor: pointer;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.products img {
    width: 100%;
}

.productDetails .image {
    width: 100%;
    position: relative;
}
.productDetails .image::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: black;
    opacity: .4;
}
.productDetails .image img {
    width: 100%;
    max-height: 60vh;
    min-height: 400px;
    object-fit: cover;
}
.productDetails .image .title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
}
.productDetails .image .title h1 {
    line-height: 1.2;
    text-align: center;
    width: fit-content;
    font-size: 64px;
    color: white;
}
.productDetails .details {
    text-align: left;
}
.navLink {
    font-weight: 600;
    display: block;
    padding: 10px;
    color: black;
    opacity: 0.6;
}
.navLink:hover {
    opacity: 0.6;
}
.navLink.active {
    opacity: 1;
}

.btn {
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid transparent;
    font-weight: 600;
    display: inline-block;
}
.primary_btn {
    border-color: black;
    color: black;
}
.primary_btn:hover {
    background-color: rgba(0, 0, 0, 0.062);
}
.secondary_btn {
    background-color: black;
    color: white;
}
.secondary_btn:hover {
    background-color: rgb(0, 0, 0, 0.7);
}

.switch_btn {
    margin-left: 14px;
    color: black;
}
